* {
    padding: 0;
    margin: 0;
    font-family: "Figtree", sans-serif;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(243 207 83);
}   

.blog-preview-card {
    display: flex;
    flex-direction: column;
    border: 0.125rem solid black;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    border-radius: 4%;
    background-color: white;
    box-shadow: 0.5rem 0.5rem black;
    max-width: 16rem;
}

.blog-image {
    border-radius: 4%;
}

.blog-title {
    margin: 0.625rem 0 0.625rem 0;
    font-size: 1rem;
}

.blog-title:hover {
    color: rgb(243 207 83);
    cursor: pointer;
}

.topic-tag {
    background-color: rgb(243 207 83);
    border-radius: 4%;
    padding: 0.25rem;
    margin: 0.625rem 0 0.625rem 0;
    font-size: 0.75rem;
    align-self: flex-start;
}

.blog-blurb {
    color: rgb(107 107 107);
}

p {
    font-size: 0.75rem;
    line-height: 1.5;
}

.author {
    display: flex;
    align-content: center;
    margin: 1rem 0 0 0;
}

.author-image {
    max-width: 2rem;
}

.author-name {
    align-self: center;
    font-weight: bold;
    margin: 0 0 0 0.75rem;
}

.author-name:hover {
    color: rgb(243 207 83);
    cursor: pointer;
}